{%extends 'base.html'%}

{%block head%}
  <style type="text/css">
  .event-add-form {
    max-width: 760px;
    margin: auto;
    padding: 0 20px;
  }
  body {
    border-top: 10px solid #2377ba;
  }
  </style>
{%endblock%}

{%block body%}
    <form role='form' action={%url 'event_add'%} method='post'>
    {%csrf_token%}
  <h1 style="text-align: center; margin: 0; padding: 0; margin-top: 30px;">New Event</h1>
  <div class="event-add-form">
    {{form}}
    <hr>
    <h2>Room Bookings</h2>
    {{schform}}
    <button type="submit" class="btn btn-primary" style="margin-top: 20px; float: right;">
    Add Event</button>
    </form>
    <a href="{% url 'event_home' %}"><button type="submit" class="btn btn-danger" style="margin-top: 20px; float: right; margin-right: 10px;">Cancel</button></a>
  </div>
{%endblock%}

{%block script%}
  <script type="text/javascript">
    // Beautify
    $('input').addClass('form-control');
    $('select').addClass('form-control');
    $('textarea').addClass('form-control');
    $('label').css('margin', '8px 0');
  </script>
{%endblock%}
