{%extends 'base.html'%}

{%block head%}
  {%load static%}
  <link rel="stylesheet" type="text/css" href='{% static "events/events.css"%}'>
  <style type="text/css">
    .add-button {
      position: absolute;
      right: 0;
      top: 0;
      margin: 25px 20px 0 0;  
    }
  </style>
{%endblock%}

{%block body%}

<a href="{% url 'event_add' %}"><button class="btn btn-success add-button">+ Add Event</button></a>

<div role="tabpanel" style="margin-top: 70px;">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#cal" aria-controls="calendar" role="tab" data-toggle="tab">Calendar</a></li>
    <li role="presentation"><a href="#status" aria-controls="status" role="tab" data-toggle="tab">Booking status</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- CALENDAR --> 
    <div role="tabpanel" class="tab-pane active" id="cal">
      <div id="calendar" style="margin-top: 40px;">
        {{events_calender}}
        <div style="text-align: center; margin-top: 20px;">
          <a class="month-nav" href={{last}} alt='last month'>&laquo; Previous</a> &nbsp;
          <a class="month-nav" href={{next}} alt='next month'>Next &raquo;</a>
        </div> 
      </div> 
    </div>
    <!-- BOOKING STATUS -->
    <div role="tabpanel" class="tab-pane table-responsive" id="status">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Location</th>
            <th>Bookings</th>
          </tr>
        </thead>
        <tbody>
         {%for schedule in schedules%}
          <tr>
            <td>{% ifchanged schedule.location%}{{schedule.location}}{%endifchanged%}</td>
            <td>
              <a href={{schedule.event.get_absolute_url}}>{{schedule.title}}{{schedule.start}}{{schedule.end}}</a>
            </td>
          </tr>
        {%endfor%}
      </tbody>
    </table> 
  </div>

</div>
{%endblock%}
