{%extends 'base.html'%}

{%block head%}
  {%load static%}
  <link rel="stylesheet" type="text/css" href='{% static "events/events.css"%}'>
{%endblock%}

{%block body%}
  <section>
    <div class="containter">
      <div id="calender" style="margin-top: 110px;">
        {{events_calender}}
      </div>
      <div style="text-align: center; margin-top: 20px;">
        <a class="month-nav" href={{last}} alt='last month'>&laquo; Previous</a> &nbsp;
        <a class="month-nav" href={{next}} alt='next month'>Next &raquo;</a>
      </div>
    </div>
  </section>
{%endblock%}
