/* CALENDAR STYLES 
***************************/

#calendar ul {
  margin: 0;
  padding: 0;
  margin: 0 -20px;
}

#calendar table {
  width: 95%;
  font-size: 1.1em;
  border-left: 1px solid #d6d6d6;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

#calendar th {
  border-right: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  text-align: center;
  padding: 20px 0;
}

#calendar td {
  border-right: 1px solid #d6d6d6;  
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  width: 24.2857%
  padding: 10px 0;
}

#calendar td {
  padding: 20px 0; 
}

#calendar td ul {
  list-style: none;
}

#calendar td ul li a {
  font-size: 0.8em;
}

#calendar .month-nav {
  color: white;
  font-size: 1.2em;
}

#calendar .month-nav:hover {
  color: white;
  text-decoration: underline;
}

#calendar .month tr:nth-child(2) {
  background-color: #A4C739;
  color: white;
  height: 15%;
  font-size: .9em;
}

#calendar .week td {
  padding: 4px;
}

#calendar .week td{
  width: 15%;
  height: 15%;
}

#calendar .noday td {
  width: 14.2857%;
  height: 22px;
}

#calendar table.week {
  font-size: 75%;
}

#calendar table.week {
  height: 80px;
  border-bottom: 1px solid #d6d6d6;
}

#calendar table.week td {
  width: 14.2857%;
  height:15%;
  padding: 2px 3px;
}

#calendar td.today {
  font-weight: bold;
  background-color: rgba(181, 228, 206, .4);
}

#calendar td.today.date {
  font-size: 110%;
  text-shadow: 1px 1px 3px rgba(25,25,25, 0.3);
}

#calendar tr:nth-child(2) {
  height: 75%;
}

#calendar .event.holiday {
  background-color: #c5c5ee;
}

#calendar td.event.important {
  background-color: #A4C739;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

#calendar .month-nav {
  color: black;
}

#calendar .month-nav:hover {
  color: black;
  text-decoration: underline;
}

#calendar .month tr:first-child {
  color: black;
  font-size: 3em;
  text-decoration: none;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #calendar table {
    width: 90%;
    margin-top: 25px;
  }
  .wrapper {
    width: inherit;
    min-width: 220px;
  }
  #calendar #day-names {
    display: none;
  }
  #calendar table.week{
    height: 30px;
  }
  #calendar .week td {
    padding: auto;
    text-align: center;
  }
  #calendar .week tr:nth-child(2) {
    display: none;
  }
}

/* STATUS STYLES 
***************************/

#status table {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}

#status th {
  font-size: 1.5em;
  text-align: center;
}




